@use "sass:map";
// @import "../node_modules/bootstrap/scss/bootstrap";

$theme-colors: (
  "bug": #AABB22,
  "dark": #775544,
  "dragon": #7766EE,
  "electric": #FFCC33,
  "fairy": #FFAAFF,
  "fighting": #BB5544,
  "fire": #FF4422,
  "flying": #6699FF,
  "ghost": #6666BB,
  "grass":#77CC55,
  "ground": #DDBB55,
  "ice": #77DDFF,
  "normal": #BBBBAA,
  "poison": #AA5599,
  "psychic": #FF5599,
  "rock": #BBAA66,
  "steel": #AAAABB,
  "water": #3399FF,
);

$prefixes: "btn", "badge", "progress", "bg", "list-group-item";

@mixin type_css($type) {
    background-color: map.get($theme-colors, $type)
}

@each $type, $_ in $theme-colors {
    @each $prefix in $prefixes {
        .#{$prefix}-#{$type} {
            @include type_css($type)
        }
    }
}
