.bar {
    line-height: 20px;
    margin: 1px 0;
    bar {
        float: left;
        height: 20px;
        color: white;
        font-size: 10px;
    }

    label {
        float: left;
        width: 30%;
        text-align: left;
        margin-bottom: 0;
    }

    em {
        float: right;
    }
}

