.bar {
    line-height: 12px;
    bar {
        float: left;
        height: 10px;
        color: white;
        font-size: 10px;
    }

    label {
        float: left;
        width: 30%;
        text-align: left;
    }

    em {
        float: right;
    }
}

